<!DOCTYPE html>
<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col" >Id</th>
      <th scope="col">Title</th>
      <th scope="col">Subtitle</th>
      <th scope="col">Img</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="category : ${categorys}">
      <td th:utext="${category.id}"></td>
      <td th:utext="${category.title}"></td>
      <td th:utext="${category.subtitle}"></td>
      <td th:utext="${category.image}"></td>
      <td><a th:href="@{/show/{id} (id=${category.id})}">Edit</a></td>
      <td><a th:href="@{/delete/{id} (id=${category.id})}">Delete</a></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col" >Id</th>
      <th scope="col">Title</th>
      <th scope="col">Id_category</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="subcategory : ${subcategorys}">
      <td th:utext="${subcategory.id}"></td>
      <td th:utext="${subcategory.title}"></td>
      <td th:utext="${subcategory.id_category.id}"></td>
      <td><a th:href="@{/show/{id} (id=${subcategory.id})}">Edit</a></td>
      <td><a th:href="@{/delete/{id} (id=${subcategory.id})}">Delete</a></td>
    </tr>
  </tbody>
</table>


<!-- <div class="container"> -->
	
<!-- 	<form method="Post" th:action="@{/}" th:modelAttribute="user" th:object="${user}"> -->
<!-- 	  <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">Nom </label> -->
<!-- 	    <input type="text" class="form-control"	th:path="firstname"> -->
<!-- 	  </div> -->
<!-- 	  <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">prenom </label> -->
<!-- 	    <input type="text" class="form-control" th:path="firstname"> -->
<!-- 	  </div> -->
<!-- 	  <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">Email </label> -->
<!-- 	    <input type="text" class="form-control" th:path="email"> -->
<!-- 	  </div> -->
<!-- 	  <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">street </label> -->
<!-- 	    <input type="text" class="form-control" th:path="street"> -->
<!-- 	  </div> -->
<!-- 	   <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">city </label> -->
<!-- 	    <input type="text" class="form-control" th:path="city"> -->
<!-- 	  </div> -->
<!-- 	   <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">Postal code </label> -->
<!-- 	    <input type="text" class="form-control" th:path="postal_code"> -->
<!-- 	  </div> -->
<!-- 	   <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">Country </label> -->
<!-- 	    <input type="text" class="form-control" th:path="country"> -->
<!-- 	  </div> -->
<!-- 	   <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">phone </label> -->
<!-- 	    <input type="text" class="form-control" th:path="phone"> -->
<!-- 	  </div> -->
<!-- 	  	   <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">Date </label> -->
<!-- 	    <input type="text" class="form-control" th:path="date_register"> -->
<!-- 	  </div> -->
<!-- 	  <div class="mb-3"> -->
<!-- 	    <label for="exampleInputEmail1" class="form-label">Mot de passe </label> -->
<!-- 	    <input type="password" class="form-control" th:path="password"> -->
<!-- 	  </div> -->
	  
<!-- 	  <button type="submit" class="btn btn-primary">Submit</button> -->
<!-- 	</form> -->
	
<!-- </div> -->
	
</body>
</html>